.env
# Local Terraform directories
**/.terraform/
**/.terraform.lock.hcl
# Terraform state files
*.tfstate
*.tfstate.backup
*aks.json
# Crash log files
crash.log
**/*.lock
# Ignore override files as they are intended to be local
*.tfvars
*.tfvars.json

# Ignore the plan output files
*.tfplan

# Ignore sensitive variable files
*.auto.tfvars
*.auto.tfvars.json